{% do view.registerAssetBundle("modules\\helpers\\assets\\TemplateMakerAssets") %}

{% import "_includes/forms" as forms %}

<form id="template-maker" action="/template-maker">

	{{ forms.textField({
		id: 'path',
		label: 'Template Maker',
	  instructions: 'Compile template markup for this entry type using the field data above. The template location is relative to your template directory.',
		name: 'path',
		placeholder: 'File Path',
		value: path ?? ''
	}) }}

	{{ forms.textField({
		id: 'template',
		name: 'template',
		placeholder: 'Template Name',
		value: template ?? ''
	}) }}

	<warning-message>
		<p>
			<i>⚠️</i>It looks like the template file <em></em> already exists.
		</p>

		{{ forms.checkbox({
			id: 'overwrite',
		  label: 'Overwrite template',
			name: 'overwrite',
			value: 'false'
		}) }}

		<overwite-enabled>
			A file by this name already exists. If you continue, the original file will be overwritten. This can not be undone.
		</overwite-enabled>
		<overwite-disabled>
			A timestamp will be suffixed at the end of the filename to avoid loss of data.
		</overwite-disabled>
	</warning-message>

	{% js at head %}
		var sectionId = "{{ id }}";
		var defaultTemplate = "{{ template }}";
		var timestamp = "{{ timestamp }}";
		var existingFiles = JSON.parse('{{ existingFiles|raw }}');
	{% endjs %}

	<button class="btn submit" type="submit">Generate Template File</submit>

<form>
