{% set table = entry.tableMakerTest %}

{% if table %}

  {% set columns = table.columns %}
  {% set rows    = table.rows %}

  <table class="stylised">

  <caption>Table</caption>

  <thead>
  <tr>
  {% for col in columns %}
    <th align="{{ col.align }}">{{ col.heading|t }}</th>
  {% endfor %}
  </tr>
  </thead>

  <tbody>
  {% for row in rows %}
    <tr>
      {% for cell in row %}
        <td align="{{ columns[loop.index0].align }}" data-label="{{ columns[loop.index0].heading }}"{{ cell is empty ? 'class=empty'}}><span>{{ cell|raw }}</span></td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>

  </table>

{% endif %}
